<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TF.DAC.Properties.Settings.Valor" connectionString="Data Source=DESKTOP-NINOVDD;Initial Catalog=ProyectoFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>